.remove {
  color: #a94442;
}

.signup_in {
  background: #dff0d8;
}

.signup_out {
  background: #faf2cc;
}

table.signups tr td {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  margin: 0 !important;
}
